.secondSection
    position: absolute
    width: 100%
    top: 100vh
    height: 100vh
    display: block
    .row 
        padding: 0
        margin: 0
    img
        height: 100vh        
    .caption 
        background: #FFB800
        position: absolute
        bottom: 0
        left: 10
        text-align: center
        color: white
        display: block
        width: 10%
        font-family: Gilroy
        font-style: normal
        font-weight: normal
        font-size: 30px
        line-height: 139.4%
        letter-spacing: 0.2px
        strong
            font-family: Playfair Display
            font-style: normal
            font-weight: normal
            font-size: 70px
            line-height: 139.4%
            letter-spacing: 0.2px
    .col-6
        h4 
            font-family: Gilroy
            font-style: normal
            font-weight: normal
            font-size: 18px
            line-height: 139.4%
            letter-spacing: 9.7px
            text-transform: uppercase
            color: #FF9900
            margin-top: 25%
        h3  
            font-family: Playfair Display
            font-style: normal
            font-weight: normal
            font-size: 40px
            line-height: 139.4%
            letter-spacing: 0.2px
            color: #000000
        article 
            font-family: Gilroy
            font-style: normal
            font-weight: normal
            font-size: 18px
            line-height: 139.4%
            letter-spacing: 0.2px
            color: #7C7C7C
            width: 70%       

    .secondSection__workStages
        height: 50vh 
        background-color: black
        h4
            font-family: Gilroy
            font-style: normal
            font-weight: normal
            font-size: 18px
            line-height: 139.4%
            letter-spacing: 9.7px
            text-transform: uppercase
            color: #FF9900
            padding-top: 15px
        h5
            font-family: Playfair Display
            font-style: normal
            font-weight: normal
            font-size: 40px
            line-height: 139.4%
            letter-spacing: 0.2px
            color: #FFFFFF
        ul 
            color: white
            list-style-type: none 
            margin: 0 auto
            padding-top: 75px
            text-align: center
            li 
                display: inline-block
                margin-left: 75px  
                width: 50px
                height: 50px
                text-align: center
                vertical-align: center
                border: 2px solid white
                border-radius: 50%
                padding-top: 10px
                z-index: 100               
                ::before
                    position: absolute
                    content: " "
                    transform: translate(-40%,-25%) 
                    width: 50px
                    height: 50px
                    border-top: 5px solid #FF9900
                    border-radius: 50%
                    z-index: 5
               
                
                    
                    
                
                    
                   
    
          

    
    
        